.container
  .players
    .row
      .col-xs-4
        = render partial: 'character', locals: { player: 'p1' }
        = render partial: 'character', locals: { player: 'p3' }

      .col-xs-4
        .roster-bg
          .roster
            = render partial: 'roster_selection', locals: { player: 'p1' }
            = render partial: 'roster_selection', locals: { player: 'p2' }
            = render partial: 'roster_selection', locals: { player: 'p3' }
            = render partial: 'roster_selection', locals: { player: 'p4' }

            = image_tag 'roster.png'

      .col-xs-4
        = render partial: 'character', locals: { player: 'p2' }
        = render partial: 'character', locals: { player: 'p4' }

  .tournaments
    .row
      .col-xs-3
        .tournament
          = image_tag 'tournament/champinon.webp'

      .col-xs-3
        .tournament
          = image_tag 'tournament/flor.webp'

      .col-xs-3
        .tournament
          = image_tag 'tournament/estrella.webp'

      .col-xs-3
        .tournament
          = image_tag 'tournament/especial.png'

    .row
      .col-xs-3
        .tournament
          = image_tag 'tournament/caparazon.png'

      .col-xs-3
        .tournament
          = image_tag 'tournament/platano.png'

      .col-xs-3
        .tournament
          = image_tag 'tournament/hoja.png'

      .col-xs-3
        .tournament
          = image_tag 'tournament/centella.png'
