.container
  .players
    .row
      .col-xs-4
        = render partial: 'character', locals: { player: 'p1' }
        = render partial: 'character', locals: { player: 'p3' }

      .col-xs-4
        .controls
          %button(type="button" data-new-game) Nuevo juego

        .roster-bg
          .roster
            = render partial: 'roster_selection', locals: { player: 'p1' }
            = render partial: 'roster_selection', locals: { player: 'p2' }
            = render partial: 'roster_selection', locals: { player: 'p3' }
            = render partial: 'roster_selection', locals: { player: 'p4' }

            = image_tag 'roster.png'

      .col-xs-4
        = render partial: 'character', locals: { player: 'p2' }
        = render partial: 'character', locals: { player: 'p4' }

  .tournaments
    .row
      .col-xs-3
        .tournament
          .title
            = image_tag 'tournament/champinon.webp'
            %span.name Copa Champiñón
          %ul.list-unstyled.tracks
            %li.track Circuito de Luigi
            %li.track Pradera Mu Mu
            %li.track Barranco Champiñón
            %li.track Fábrica de Toad

      .col-xs-3
        .tournament
          .title
            = image_tag 'tournament/flor.webp'
            %span.name Copa Flor
          %ul.list-unstyled.tracks
            %li.track Circuito Mario
            %li.track Centro Cocotero
            %li.track Cima DK
            %li.track Mina de Wario

      .col-xs-3
        .tournament
          .title
            = image_tag 'tournament/estrella.webp'
            %span.name Copa Estrella
          %ul.list-unstyled.tracks
            %li.track Circuito de Daisy
            %li.track Colina de Koopa
            %li.track Senda del Arce
            %li.track Volcán Gruñón

      .col-xs-3
        .tournament
          .title
            = image_tag 'tournament/especial.png'
            %span.name Copa Especial
          %ul.list-unstyled.tracks
            %li.track Ruinas Seco Seco
            %li.track Circuito Luz de Luna
            %li.track Castillo de Browser
            %li.track Senda Arco Iris

    .row
      .col-xs-3
        .tournament
          .title
            = image_tag 'tournament/caparazon.png'
            %span.name Copa Caparazón
          %ul.list-unstyled.tracks
            %li.track GCN Playa Peach
            %li.track DS Cataratas de Yoshi
            %li.track SNES Valle Fantasma 2
            %li.track N64 Pista Mario

      .col-xs-3
        .tournament
          .title
            = image_tag 'tournament/platano.png'
            %span.name Copa Plátano
          %ul.list-unstyled.tracks
            %li.track N64 Tierra Sorbete
            %li.track GBA Playa Shy Guy
            %li.track DS Ciudad Delfino
            %li.track GCN Estadio Waluigi

      .col-xs-3
        .tournament
          .title
            = image_tag 'tournament/hoja.png'
            %span.name Copa Hoja
          %ul.list-unstyled.tracks
            %li.track DS Desierto Sol Sol
            %li.track GBA Castillo de Bowser
            %li.track N64 Pista de la Junga DK
            %li.track GCN Circuito Mario

      .col-xs-3
        .tournament
          .title
            = image_tag 'tournament/centella.png'
            %span.name Copa Centella
          %ul.list-unstyled.tracks
            %li.track SNES Circuito Mario 3
            %li.track DS Jardín de Peach
            %li.track GCN Montaña DK
            %li.track N64 Castillo de Bowser
